.displayNone {
    opacity: 0 !important;
}

.square-button {
    background-color: rgba(250, 250, 250, 0);
    border: 1px solid #51749C;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Cardo', sans-serif;
    animation: spin-out 0.15s forwards ease-in-out;
    animation-iteration-count: 1;
    cursor: pointer;
}



@keyframes spin {
    0% {
        background-color: rgba(250, 250, 250, 0);
    }
    100% {
        background-color: #51749c;
        color: #ffffff;
    }
}
@keyframes spin-out {
    0% {
        background-color: #51749c;
        color: #ffffff;
    }
    100% {
        background-color: rgba(250, 250, 250, 0);
    }
}



.square-button:hover {
    /*background-color:#51749C;
    color: #ffffff; */
    animation: spin 0.1s forwards linear;
    animation-iteration-count: 1;
}

#design {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    position: fixed;
    font-size: 40vw;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
 
}

#design div {
    transition: 0.5s all;
    transition-timing-function: ease-in-out;
}

#inner {
    transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;

}

button :hover {
    background-color:  rgba(250, 250, 250, 100) ;
    color: white;
}


.change-color {
    background-color: rgb(248, 248, 248);
}

.change-color-nav {
    background-color: rgba(182, 196, 206,0.7);
}

.displayUp{
    transform: translateY(-100px);
}

.effective {
    color:  rgb(79, 114, 154, 1);
    transition: color 0.2s ease-in-out;

}

.ineffective {
    color: #b3b3b3;
}


@media only screen and (max-width: 768px) {

    h1 {
        font-family: 'Cardo', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        color: #333333;
        padding: 0 15px;
    }
    
    h2 {
        font-family: 'Cardo', sans-serif;
        font-size: 5vw;
        font-weight: 700;
        color: #333333;
        padding:0 30px 0 30px;
    }
    
    h3 {
        font-family: 'Cardo', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: #333333;
        text-align: left;
        padding: 0 15px;
    }
    h4 {
        font-family: 'Cardo', sans-serif;
        font-size: 0.8rem;
        font-weight: 300;
        color: #5a5a5a;
        text-align: left;
        padding: -10px 15px;
    }

    nav {
        position: fixed;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        text-align: center;
        height: 10vh;
    }
    nav .container {
        width:768px;

    }
    nav a {
        text-decoration: none;
        font-family: 'Cardo';
        font-style: italic;
        font-size: 24px;
        color: #181818;
        padding: 0 7vw;
        font-weight: 500;
    }
    

    #title {
        text-transform: uppercase;
        position: fixed;
        top:20px;
        left: 15vw;
        font-family: 'Pathway Gothic One', sans-serif;
        font-size: 36px;
        color: #181818;
        z-index: 999;
        transition: 0.5s all;
        transition-timing-function: ease-in-out;
    }
    

    body {
        padding: 0;
        margin: 0;
        background-color: rgb(182, 196, 206);
        transition: 0.2s all;
        transition-timing-function: ease-in-out;
    }
    .hero-text {
        padding-left: 15px;
        padding-right: 15px;
        position:absolute;
        font-family: 'Cardo', sans-serif;
        font-size: 20px;
        color: #181818;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 60vw;
    }
    .scroll {
        position: relative;
    }
    .front {
        width: 100vw;
    }
    .hero {
        display: block;
        width: 100vw;
        height: 70vh;
    }
    #splash {
        display: block;
        width: 100vw;
        height: 100vh;
    }
    #intro {
        
    }
    .hero-half {
        width: 100vw;
        display: block;
        height: 40vh;
    }

    .hero-space {
        width: 100vw;
        height:10vh;
        display: block;
    }
    #shift-left {
        margin-left: 0;
    }
    .container{
        width:100vw;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .hero-image {
        position: absolute;
        width: 70vw;
        height: 75vh;
        background-image: url("../res/palm.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

#suicide-prevention img {
    width:100vw;

    height: auto;
    box-shadow: 0px 2px 30px #131c422d
}

#planA img {
    width:100vw;

    height: auto;
}

#TH img {
    width:100vw;

    height: auto;
}
#enjoy img {
    width:100vw;

    height: auto;
}
}




@media only screen and (min-width: 768px) {

    h1 {
        font-family: 'Cardo', sans-serif;
        font-size: 3rem;;
        font-weight: 700;
        color: #333333;
    }
    
    h2 {
        font-family: 'Cardo', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color: #333333;
        padding:0 30px 0 30px;
    }
    
    h3 {
        font-family: 'Cardo', sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        color: #333333;
        text-align: left;
    }

    h4 {
        font-family: 'Cardo', sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        color: #7c7c7c;
        text-align: left;
        margin: -20px 0;
        font-style: italic;
    }

    nav {
        position: fixed;
        bottom: 75px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        text-align: center;
    }
    nav .container {
        width:768px;
    }
    nav a {
        text-decoration: none;
        font-family: 'Cardo';
        font-style: italic;
        font-size: 24px;
        color: #181818;
        padding: 0 30px 0 30px;
        transition: color 0.2s ease-in-out;
    }

    nav .container:hover a {
        color:  rgb(79, 114, 154, 0.4);
    }

    nav .container:hover a:hover span:hover{
        color:  rgb(79, 114, 154, 1);
    }
    

    #title {
        text-transform: uppercase;
        position: fixed;
        top:50px;
        left: 15vw;
        font-family: 'Pathway Gothic One', sans-serif;
        font-size: 36px;
        color: #181818;
        z-index: 999;
    }

    .hero-half .container {
        width:80%;
    }
    
    body {
        padding: 0;
        margin: 0;
        background-color: rgb(182, 196, 206);
        transition: 0.4s all;
        transition-timing-function: ease-in-out;
    }
    .hero-text {
        position:absolute;
        font-family: 'Cardo', sans-serif;
        font-size: 24px;
        color: #181818;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 70vw;
    }
    .scroll {
        position: fixed;
        bottom: 0;
    }
    .front {
        z-index: 500;
        top:0;
        width: 10000px;
    }
    .container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    #intro {
        width: 30vw;
    }


    .hero .hero-image {
        width: 70vw;
        height: 65vh;
        transform: rotate(0deg);
        background-image: url("../res/palm.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    
    
    .hero {
        width: 100vw;
        position: relative;
        display: inline-block;
        height: 100vh;
    }
    .shift-left {
        margin-left:-10vw;
    }
    .shift-right {
        margin-left: 5vw;
    }
    
    .hero-half {
        width: 40vw;
        position: relative;
        display: inline-block;
        height: 100vh;
    }
    
    .hero-space {
        width:10vw;
        position: relative;
        display: inline-block;
        height: 100vh;
    }


#suicide-prevention img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:50vw;
    height: auto;
    box-shadow: 0px 2px 30px #131c422d
}

#planA img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:40vw;
    height: auto;
}

#TH img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:60vw;
    height: auto;
}
#enjoy img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:60vw;
    height: auto;
}
}

